.nav-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-top: 170px;

}
.nav-product__btn {
    padding: 0 10px 0 0;
}
.nav-product__svg {
    width: 30px;
    height: 25px;
    margin-left: 10px;
}

