// --- background ---

$color-bg-alpha: #ffffff;
$color-bg-beta: #F8F8F8;
// --- text ---

$color-text-alpha: #000000;
$color-text-beta: #ffffff;

// --- colors ---

$color-alpha: #1e6140;
$color-beta: #84c551;
$color-gamma: #8c3213;
$color-delta: #e74e13;
$color-epsilon:#347153;



// $color-vau
// $color-zeta
// $color-eta
// $color-theta
// $color-iota
