@import"./top/top.scss";

.header {
    position: absolute;
    width: 100%;
    margin-bottom: 28px;
}

.logo-serch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 84px;
}
