.banner {
    position: relative;
    top: -250px;
    min-height: 933px;
    background-image: url(./img/baner.jpg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position-y: bottom ;
    border: 1px solid red;

    background-image: url(../../img/baner.jpg);
}
