.nav-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 20px;
    z-index: 1;

    &__btn {
        flex: 0 1 19%;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    &__svg {
        margin: 0 12px;
        min-width: 24px;
        min-height: 24px;
    }
}

// @media (max-width: 1440px) {
// }
// @media (max-width: 1024px) {
// }
// @media (max-width: 992px) {
//     .nav-product {
//         flex-direction: column;
//         align-items: center;
//         gap: 10px;
//         border: 1px solid red;
//         background-color: gold;
        
//         &__btn {
//             width: 100%;
//         }
//     }
// }
// @media (max-width: 768px) {
// }
// @media (max-width: 425px) {
// }
// @media (max-width: 375px) {
// }
// @media (max-width: 320px) {
