.nav-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
    margin-top: 20px;
    z-index: 1;

    &__btn {
        flex: 0 0 19%;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        background-color: $color-bg-alpha;
        transition: all 0.3s ease;
        & svg path {
            fill: $color-beta;
            stroke: $color-text-beta;
            stroke-width: 0.2;
        }

        &:hover {
            border: 1px solid $color-delta;
            color: $color-text-beta;
            background-color: $color-delta;
        }
        &:hover svg path {
            fill: $color-text-beta;
        }
    }

    &__svg {
        margin: 0 12px;
        min-width: 24px;
        min-height: 24px;
    }

    &__svg path {
        transition: 0.3s ease;
    }
}

// @media (max-width: 1440px) {
// }
//
@media (max-width: 1200px) {
    .nav-product {
        &__btn {
            font-size: 0.7rem;
        }
    }
}
// @media (max-width: 1100px) {
// }
// @media (max-width: 1024px) {
// }
// @media (max-width: 992px) {
// }
@media (max-width: 768px) {
    .nav-product {
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: red;
        gap: 10px;
        
        &__btn {
            flex: 1 1 100%;
            justify-content: start;
            margin-bottom: 0;
            background-color: $color-delta;
            border: 1px solid $color-delta;
            color: $color-text-beta;
            font-size: 1rem;

            &:not(:first-child) {
                // display: none;
                transform: scale(1);
                transform-origin: top;
                
            }

            & svg path {
                fill: $color-text-beta;
            }
            &:first-of-type svg path {
                stroke: $color-delta;
            }
        }
    }
}
// @media (max-width: 425px) {
// }
// @media (max-width: 375px) {
// }
// @media (max-width: 320px) {
