.nav-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-top: 170px;

}
.nav-product__btn {
    flex: 0 1 19%;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.nav-product__svg {
    margin: 0 12px;
    min-width: 24px;
    min-height: 24px;
}

