.footer {
    position: relative;
    padding-top: 120px;
    background-color: red;

    // --- block 4 columns ---

    &__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 92px;
    }

    // --- logo  footer ---

    & .logo {
        display: block;
        width: 110px;
        margin-bottom: 10px;
    }

    & .logo img {
        width: 100%;
        height: auto;
    }

    // --- /logo  footer ---

    &__text-offer {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        max-width: 200px;
    }

    & h3 {
        font-size: 18px;
        font-weight: 600;
        color: $color-text-alpha;
    }

    & a {
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: $color-text-alpha;
    }

    & a,
    h3 {
        margin-bottom: 25px;
        line-height: 1;
    }

    // --- /block 4 columns ---

    // --- c ---
    
    &__c-line { 
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
    }
    
    &__c-text {
        text-align: center;
        margin: 20px 0;
        font-size: 0.9rem;
        font-weight: 400;
        opacity: 0.5;
    }

    // --- /c ---
   
    // --- arrow ---
    
    &__arrow {
        position: absolute;
        display: flex;
        width: 65px;
        bottom: 0;
        left: 82%;
        height: 150px;
        background-color: $color-beta;
        border-radius: 50px  50px 0 0;
        &::after {
            content: url(../../img/arrow-white.svg);
            position: absolute;
            left: 50%;
            top: 10%;
            background-color: red;
            transform: rotate(-90deg)translateY(-50%);
        }
    } 
    
    // --- /arrow ---
}
