.footer {
    position: relative;
    padding-top: 120px;
    // background-color: red;

    // --- block 4 columns ---

    &__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 92px;
    }

    // --- logo  footer ---

    & .logo {
        display: block;
        width: 110px;
        margin-bottom: 10px;
    }

    & .logo img {
        width: 100%;
        height: auto;
    }

    // --- /logo  footer ---

    &__text-offer {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        max-width: 200px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: $color-text-alpha;
    }

    &__ref {
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: $color-text-alpha;
    }

    &__ref,
    &__title {
        margin-bottom: 25px;
        line-height: 1;
    }

    // --- /block 4 columns ---

    // --- c ---

    &__c-line {
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
    }

    &__c-text {
        text-align: center;
        padding: 16px 0;
        font-size: 0.9rem;
        font-weight: 400;
        opacity: 0.5;
    }

    // --- /c ---

    // --- arrow ---

    &__arrow {
        position: absolute;
        bottom: 0;
        right: 14.5%;
        display: flex;
        width: 65px;
        height: 132px;
        background-color: $color-beta;
        border-radius: 50px 50px 0 0;
        margin: 0;
        &::after {
            content: url(../../img/arrow-white.svg);
            position: absolute;
            left: 50%;
            top: 20%;
            transform: rotate(-90deg) translateY(-50%);
            width: 20px;
            height: 20px;
        }
    }

    // --- /arrow ---
}
