.btn {
    width: 202px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #1e6140;
    font-size: 0.9px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    &:hover {
        border: 1px solid $color-gamma;
        color: $color-text-beta;
    }
    svg {
        margin-right: 8px;
    }
}
