* {
    box-sizing: border-box;
}
.slider {
    min-height: 255px;
    overflow: hidden;
    background-color: rgba(1, 1, 1, .2);
    
}

.slider-line {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    height: 100%;
    transition: all 0.7s ease;
}

.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    // border: 1px solid red; 
    background-color: rgba(1, 1, 1, .2);
}
.novelties__slide {
    // border: 1px solid red; 
    width: 100%;
}
.slider__btn {
    padding: 10px;
    font-size: 2rem;
}
