.novelties {
    &__container {
        position: relative;
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0;
        background: teal;
    }

    &__slider-container {
        position: relative;
        overflow: hidden;
        height: 355px;
        width: 85vw;
        max-width: 1140px;
        background: #54d5e4;
        // box-shadow: 5px 5px 8px gray inset;
        padding: 0px;
    }

    &__btn {
        position: absolute;
        top: calc(50%);
        
        &:hover {
            background-color: $color-beta;
        }
        
        &:hover > .arrow-arr::before {
            background-color: #fff;
        }
        
        &:hover > .arrow-arr::after {
            border-color: #fff;
        }
        &:active {
            background-color: $color-alpha;
            border-color:$color-alpha ;
        }
    }
    
    &:focus {
        
    }

    &__btn:hover {
    }

    &__btn.inactive {
    }

    &__btn-left {
        left: 10px;
    }

    &__btn-right {
        transform: rotate(180deg);
        right: 10px;
    }

    &__slider {
        display: flex;
        width: 1000%;
        height: 100%;
        transition: all 0.5s;
    }

    &__slide {
        height: 90%;
        margin: auto 10px;
        background-color: #a847a4;
        box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
        display: grid;
        place-items: center;
    }

    &__slide span {
        color: white;
        font-size: 150px;
    }

    @media only screen and (min-width: 1100px) {
        &__slide {
            width: calc(2.5% - 20px);
        }
    }

    @media only screen and (max-width: 1100px) {
        &__slide {
            width: calc(3.3333333% - 20px);
        }
    }

    @media only screen and (max-width: 900px) {
        &__slide {
            width: calc(5% - 20px);
        }
    }

    @media only screen and (max-width: 550px) {
        &__slide {
            width: calc(10% - 20px);
        }
    }
}
